parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$user of class Illuminate\\Auth\\Events\\Verified constructor expects Illuminate\\Contracts\\Auth\\MustVerifyEmail, App\\Models\\User\|null given\.$#'
			identifier: argument.type
			count: 1
			path: app/Http/Controllers/Auth/VerifyEmailController.php

		-
			message: '#^Method App\\Models\\Fund\:\:createRevision\(\) should return App\\Models\\FundRevision but returns Illuminate\\Database\\Eloquent\\Model\.$#'
			identifier: return.type
			count: 1
			path: app/Models/Fund.php

		-
			message: '#^Offset ''AFRME''\|''ASIA_EM''\|''EUR''\|''LATAM_EM''\|''PAC''\|''US'' on array\{AFRME\: ''Africa/Middle East'', ASIA_EM\: ''Asia \(emerging\)'', EUR\: ''Europe'', PAC\: ''Asia Pacific'', US\: ''United States'', LATAM_EM\: ''Latin America''\} on left side of \?\? always exists and is not nullable\.$#'
			identifier: nullCoalesce.offset
			count: 1
			path: app/Services/ExcelImportService.php
